<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Barba.js Transition</title>
</head>

<body data-barba="wrapper">
    <section data-barba="container" class="p-index" data-barba-namespace="index" data-background="#c44569">
        <div class="content">
            <h1>This page was revealed<br> using a simple barbaCSS & CSS transition</h1>
            <p>Now lets show some transition.</p>
            <a href="slide-right.html">Slide Down</a>
        </div>
    </section>
</body>

</html>