<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Left - Barba.js Transition</title>
</head>

<body data-barba="wrapper">
    <section data-barba="container" class="p-slide-left" data-barba-namespace="slide-left" data-background="#574b90">
        <div class="content">
            <h1>This page was revealed<br> using a simple barbaCSS & CSS slide-left transition</h1>
            <p>Now lets show some transition.</p>
            <a href="index.html">Slide Left</a>
        </div>
    </section>
</body>

</html>