<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Right - Barba.js Transition</title>
</head>

<body data-barba="wrapper">
    <section data-barba="container" class="p-slide-right" data-barba-namespace="slide-right" data-background="#63cdda">
        <div class="content">
            <h1>This page was revealed<br> using a simple barbaCSS & CSS slide-right transition</h1>
            <p>Now lets show some transition.</p>
            <a href="slide-up.html">Slide Right</a>
        </div>
    </section>
</body>

</html>